---
http_interactions:
- request:
    method: post
    uri: https://api.branch.io/v1/url
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"url":"https://ENV.test-app.link/LINK1xxx"}'
  recorded_at: Wed, 06 Jul 2016 12:38:37 GMT
- request:
    method: post
    uri: https://api.branch.io/v1/url
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","tags":["test"],"channel":"test","feature":"spec","stage":"test","data":{"value":42}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"url":"https://ENV.test-app.link/LINK2xxx"}'
  recorded_at: Wed, 06 Jul 2016 12:38:37 GMT
- request:
    method: post
    uri: https://api.branch.io/v1/url/bulk/<BRANCH_KEY>
    body:
      encoding: UTF-8
      string: "[]"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 06 Jul 2016 12:38:38 GMT
[...]
- request:
    method: get
    uri: https://api.branch.io/v1/url?branch_key=<BRANCH_KEY>&url=https://ENV.test-app.link/LINK5xxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fb-2700212854"
    body:
      encoding: UTF-8
      string: '{"channel":"code","feature":"test","tags":["test"],"data":{"$one_time_use":false,"~channel":"code","~creation_source":0,"~feature":"test","~id":"279190676690858328","~tags":["test"],"url":"https://ENV.test-app.link/LINK5xxx"},"type":0,"alias":null}'
  recorded_at: Wed, 06 Jul 2016 12:38:40 GMT
[...]
- request:
    method: put
    uri: https://api.branch.io/v1/url?url=https://ENV.test-app.link/LINK6xxx
    body:
      encoding: UTF-8
      string: '{"sdk":"api","branch_key":"<BRANCH_KEY>","branch_secret":"<BRANCH_SECRET>","channel":"retest"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"channel":"retest","feature":"test","tags":["test","test-update"],"data":{"$one_time_use":false,"~channel":"retest","~creation_source":0,"~feature":"test","~id":"279214820782371109","~tags":["test","test-update"],"url":"https://ENV.test-app.link/LINK6xxx"},"type":0,"alias":null}'
  recorded_at: Wed, 06 Jul 2016 12:38:42 GMT
[...]
- request:
    method: delete
    uri: https://api.branch.io/v1/url?url=https://uym7.test-app.link/9PgLOiWA22
    body:
      encoding: UTF-8
      string: '{"branch_key":"<BRANCH_KEY>","branch_secret":"<BRANCH_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"url":"https://uym7.test-app.link/9PgLOiWA22","deleted":true}'
  recorded_at: Tue, 07 Jan 2020 00:19:30 GMT
- request:
    method: get
    uri: https://api.branch.io/v1/url?branch_key=<BRANCH_KEY>&url=https://uym7.test-app.link/9PgLOiWA22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"+url":"https://uym7.test-app.link/9PgLOiWA22","~tags":["test","test-delete"],"~creation_source":0,"~id":"742887335519845531","$one_time_use":false,"~channel":"code","~feature":"test","url":"https://uym7.test-app.link/9PgLOiWA22"},"type":0,"tags":["test","test-delete"],"feature":"test","channel":"code"}'
  recorded_at: Tue, 07 Jan 2020 00:19:30 GMT
recorded_with: VCR 3.0.3
